header {
    color: midnightblue;
    padding-top: 10pt;
}

legend {
    color: midnightblue;
    font-size: 1.5em;
    border-style: solid;
    border-color: gray;
    border-width: 2px;
    border-radius: 10vw;
    background-color: whitesmoke;
}

.box {
    background-color: whitesmoke;
}

.large_header {
    font-size: 1cm;
    padding-bottom: 1pt;
}

.date_header {
    font-size: 20pt;
    padding-top: 1pt;
}

.minor_header {
    font-size: 5mm;
}

.title {
    font-size: 1.5vw;
}

.minor_title {
    font-size: 1.25vw;
}

body {
    background-color: lightskyblue;
}